<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Coffee-Shop-System/

    # Routing all "views/pages/auth/" files
    RewriteRule ^login$ views/auth/login_view.php [L]

    # Routing all "views/pages/admin/" files
    RewriteRule ^available_books$ views/pages/main/available_books_view.php [L]
</IfModule>
